  .form-card,
  .card {
      width: 90%;
      margin: auto;
  }

  @media only screen and (max-width: 760px) {


      .form-card,
      .card {
          font-size: 0.8rem;
      }
  }

  form {
      margin: 16px auto;
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 1rem;
  }

  .actions,
  .form-group {
      margin: 1rem;
  }

  @media only screen and (min-width: 1090px) {

      .form-card,
      .card {
          width: 60%;
      }

      .actions button {
          width: 50%;
      }

      .form-group {
          width: 50%;
      }

  }


  .actions {
      width: 50%;
      display: flex;
      justify-content: center;
      height: 50%;
  }

  @media only screen and (max-width: 1090px) {

      .actions {
          flex-direction: column;
          width: 100%;
          margin: 0.5rem;

      }

      .actions button {
          margin: 0.3rem;
      }

      .form {
          display: flex;
          flex-direction: column;
      }
  }

  button {
      margin-right: 1rem;
  }

  .city-info {
      margin: auto;
      width: 60%;
  }

  .city-info .card-body {
      display: flex;
      flex-direction: column;
  }

  .city-info .card-body button {
      width: 10rem;
      margin-top: 0.5rem;
  }

  @media only screen and (max-width: 760px) {
      .city-info .card-body button {
          font-size: 0.8rem;
      }
  }

  .card-table {
      margin: 1rem auto;
  }

  @media only screen and (max-width: 760px) {
      table {
          font-size: 0.8rem;
      }
  }

  thead>tr:first-child {
      color: blue
  }